.font-barcodes{
    font-family: 'Libre Barcode 39 Text', cursive;
}

.jumbotron {
    background-color: #5A1807;
    color: white;
}

#h1_the_secret_word {
    letter-spacing: 30px;    
}

.letters {
    width: 55px;
    height: 69px;
    margin: 15px;
    text-align: center;
}